// Medias querys
$breakpoints: (
  'xs': "(max-width: 767px)",
  'sm': "(max-width: 991px)",
  'md': "(max-width: 1199px)",
  'lg': "(max-width: 1600px)",
  'xl': "(max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;

// Fonts size
$base-font-size: 16px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #ee6e73;
$white: #fff;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
